
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 18px;
    color:  rgb(220, 199, 247);
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: rgb(179, 170, 140);
    color: #ffffff;
    border: 2px solid var(--primary);
    border-radius: 40px;
    margin: 1rem 2rem 1rem 5rem
  }
  
  .btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;}
  .btn--outline {
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: rgb(132, 132, 168);
    transition: 250ms;
  }