.card {
    background: url('../../images/wallpaper.jpg') center center/contain repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    width: 100%;
    height:100%;
  }
  
  .practic-h1 {
    text-align: center;
    color: #FCDEA6;
    font-family:'CormorantSC-Light';
    font-size:4rem;
    font-weight: bold;
  }

  .practic-h3 {
    text-align: center;
    color: #FCDEA6;
    font-family:'CormorantSC-Light';
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .card-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .card-wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .card-items {
    margin-bottom: 24px;
  }
  
  .card-item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .card-item-link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .card-item-pic-wrap {
    width: 100%;
    margin-top: -20rem;
    
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .card-item-pic-wrap::after {
/*     content: attr(data-category); */
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .card-item-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.2s linear;
  }
  
  .card-item-img:hover {
    transform: scale(1.1);
  }
  
  .card-item-info {
    position: relative;
    margin-top: 55rem;
    padding: 20px 30px 30px;
  }
  
  .card-item-text {
    text-align: center;
    color: #FCDEA6;
    font-family:'CormorantSC-Light';
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  .card-item-label {
    text-align: center;
    color: #FCDEA6;
    font-family:'CormorantSC-Light';
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 15rem;
  }
  
  @media only screen and (min-width: 1200px) {
    .content-blog-container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .card-items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .card-item {
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 768px){
    .card {
      background: url('../../images/wallpaper.jpg') center center/contain repeat;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
    }
  }